    a:link{color:#206eb6;}
   /* a:visited{color:#206eb6;}*/
    a:hover{color:#206eb6;}
    a:active{color:#206eb6;}
    
    @font-face {
    	font-family: 'Myriad Web Condensed';
    	src: url(font/Myriad Condensed Web.ttf);
    }

    p{
    	font-size: 17px;   
    }

    .Pfeil-links{

    	margin-top: 240px;
    	z-index: 3;
    }
    .Pfeil-rechts{

    	margin-top: 240px;
    	float:right;
    	position: relative;
    	margin-right: 50px;
    	z-index: 3;

    }

    .icon{
    	margin-left: 45px;
    	margin-top: 10px;
    }

    .link{

    	font-style: bold;

    }

    .bild{
    	z-index: 2;
    margin-bottom: 20px;
 }

#headlines-row{
    margin-bottom: 120px;
    margin-left: 5px;
}
#anmelden-button{
    margin-bottom: 20px;
}