    a:link{color:#7faebe;}
   /* a:visited{color:#206eb6;}*/
    a:hover{color:#58585a;}
    a:active{color:#58585a;}
     p{
    	font-size: 17px;   
    }

    .Pfeil-links{

    	margin-top: 240px;
    	z-index: 3;
    }
    .Pfeil-rechts{

    	margin-top: 240px;
    	float:right;
    	position: relative;
    	margin-right: 50px;
    	z-index: 3;

    }

    .icon{
    	margin-left: 45px;
    	margin-top: 10px;
    }

    .link{

    	font-style: bold;
        color:#58585a;

    }

    .bild{
    	z-index: -1;
    margin-bottom: 20px;
 }

#headlines-row{
    margin-bottom: 120px;
    margin-left: 5px;
}
#anmelden-button{
    margin-bottom: 20px; 

}

#anmelden-button1{
  margin-left: 4px;
  margin-bottom: 30px;
}
