body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
	margin-left: 30px;

}


.index{

	background-color: white;
	font-family: 'PT Sans', sans-serif;
}

.buchseite {

	background-color: #65adbe;
	color:white;
}

.Programm{

	font-family: 'PT Sans', sans-serif;
	background-color: #c9e1ed;
}

.Anmeldung{
	font-family: "Myriad Condensed Web", sans-serif
}

.button{
	margin-top: 300px;
}

.bild{
	border-style: solid;
	border-radius: 2px;
	border-color: white;
}

.inhalt{
margin-left: 20px;
}

.Pfeil-links{

margin-top: 220px;
}



/*.full {
  background: url(http://placehold.it/1920x1080) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/